{{- range $p := .providers }}
  {{- /* Look up the value directly using the provider name */ -}}
  {{- $val := index $ $p -}}
  
  {{- if $val }}
export {{ $p | upper }}_API_KEY={{ $val | quote }}
  {{- end }}
{{- end }}
